{% extends "tech/base.html" %}

{% block main %}
    <div layout="row" layout-sm="column"  ng-controller="EditPropertiesController">
        <div>
            <md-menu md-offset="0 40">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdOpenMenu($event)" class="md-button" aria-label="Open sample menu"
                           ng-click="$mdOpenMenu($event)">
                    
                    {$ selected_category $}
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="cat in categories">
                        <md-button ng-click="getPropertiesForCategory(cat)">{$ cat.name $}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div id="properties_div" ng-show="got_properties">
            <div layout="column" layout-align="right">
                <i class="material-icons" ng-click="edit_properties()">mode_edit</i>
            </div>
            <table>
                <tr>
                    <th>Property Name</th>
                    <th>Property Type</th>
                </tr>
                <tr ng-repeat="prop in properties">
                    <td>{$ prop.property_name $}</td>
                    <td><p ng-hide="edit_mode">{$ prop.property_value $}</p>
                        <div ng-show="edit_mode">
                            <select ng-model="prop.property_value">
                                <option value="BOOL">Boolean</option>
                                <option value="INT">Number</option>
                                <option value="STRING">Text</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
            </table>
            <div>
                        
            </div>
        </div>
    </div>


{% endblock %}
