<!DOCTYPE html> {% load static %}
<html ng-app="tech_app">

<head lang="en">
    <meta charset="UTF-8">
    <title>H2H</title>
    <link type="text/css" href="{% static 'tech/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'tech/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--script src="{% static 'tech/jquery-2.1.4.min.js' %}"></script-->
    <script type="text/javascript" src="{% static 'tech/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/flick/ribbit.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/flick/controllers.js' %}"></script>
    <!-- mock feeder to get layouting out -->
    <!-- <script type="text/javascript" src="{% static 'tech/mock/static_data.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/mock/dummy_feeder.js' %}"></script>-->
    <style type="text/css">
    .product-panel {
        float: left;
        margin: 5px;
        width: 300px;
        /*height: 200px;*/
        font: 15px;
        /*text-align: center;*/
    }
    
    .float_left {
        float: left;
    }
    </style>
</head>

<body ng-controller="FilterController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="navbar-header"></div>
                    <h4>H2H</h4>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-left: 20px;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="border: 1px solid; padding: 8px;">
                <div ng-repeat="(key, value) in filters">
                    <div>
                        <div ng-if="filter_meta[key] === 'BOOL'" class="input-group">
                            <label>{$key$}</label>
                            <input type="checkbox" data-key="{$key$}" ng-click="filter_select($event)" data-type="BOOL">
                        </div>
                        <div ng-if="filter_meta[key] === 'INT'" class="input-group">
                            <label>{$key$}</label>
                            <!-- this should be the description -->
                            <div>
                                <input style="width: 50px" type="text" value="{$value[0]$}" id="range_{$ $index $}_min" /> -
                                <input style="width: 50px" type="text" value="{$value[1]$}" id="range_{$ $index $}_max" />
                                <button ng-click="filter_select($event)" data-key="{$key$}" data-type="INT" data-minId="range_{$$index$}_min" data-maxId="range_{$$index$}_max">Go</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div id="compare_bar">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <ul class="list-group">
                            <li ng-repeat="item in compare_list" class="float_left list-group-item" style="margin: 3px;">
                                <label>{$item.name$}</label>
                                <button type="button" class="btn btn-default btn-xs" ng-click="add_for_compare(item, false)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 float_left">
                        <a class="btn btn-default btn-lg" ng-show="compare_list.length > 1" data-toggle="modal" href='#modal-id' ng-click="show_compare()">Compare</a>
                    </div>
                </div>
                <div>
                    <div ng-repeat="item in product_results">
                        <!--for each item add a div with values, we probably need box 1 as just the keys, done on-->
                        <div class="panel panel-info product-panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <h3 class="panel-title">{$item.name$}</h3>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label ng-hide="compare_list.length == 3">
                                            <input type="checkbox" value="" ng-click="add_for_compare(item, $event.target.checked)" ng-checked="compare_items[item.name]"> Compare
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                {$item.name$}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-id" ng-show="presentResults">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Comparison...</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th ng-repeat="val in compare_headers">{$val$}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(param, values) in compare_parameters">
                                <td>{$param$}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="presentResults = false;">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
