<!DOCTYPE html> {% load static %}
<html ng-app="tech_app">

<head lang="en">
    <meta charset="UTF-8">
    <title>H2H</title>
    <link type="text/css" href="{% static 'tech/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--script src="{% static 'tech/jquery-2.1.4.min.js' %}"></script-->
    <script type="text/javascript" src="{% static 'tech/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/flick/ribbit.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'tech/flick/controllers.js' %}"></script> -->
    <!-- mock feeder to get layouting out -->
    <script type="text/javascript" src="{% static 'tech/mock/static_data.js' %}"></script>
    <script type="text/javascript" src="{% static 'tech/mock/dummy_feeder.js' %}"></script>
</head>

<body ng-controller="AppController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="navbar-header"></div>
                    <h4>H2H</h4>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" ng-controller="FilterController" style="padding-left: 20px;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="border: 1px solid; padding: 8px;">
                <div ng-repeat="(key, value) in filters">
                    <div class="input-group">
                        <div ng-if="filter_meta[key] === 'BOOL'">
                            <label>{$key$}</label>
                            <input type="checkbox" data-key="{$key$}" ng-click="filter_select($event)" data-type="BOOL">
                        </div>
                        <div ng-if="filter_meta[key] === 'INT'">
                            <label>{$key$}</label>
                            <input type="text" value="{$value[0]$}" id="range_{$ $index $}_min" /> -
                            <input type="text" value="{$value[1]$}" id="range_{$ $index $}_max" />
                            <button ng-click="filter_select($event)" data-key="{$key$}" data-type="INT" data-minId="range_{$$index$}_min" data-maxId="range_{$$index$}_max">Go</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-controller="ProductsController">
                <div ng-repeat="comparison in comparisons">
                    <div ng-repeat="item in comparison.items">
                        <!--for each item add a div with values, we probably need box 1 as just the keys, done on-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
