<!DOCTYPE html>
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>H2H</title>
    <link type="text/css" href="{% static 'tech/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'tech/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'tech/angular.min.js' %}"></script>
    <script>
        $().ready(function(){
            $.get("/tech/rest/filters", function(data) {
                $("p")[0].innerHTML = JSON.stringify(data)
                alert(JSON.stringify(data))
            })
        })
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="navbar-header"></div>
                <h4>H2H</h4>
            </div>
        </div>
    </div>
</nav>
<div class="container">
   <p id="dummy"></p>
</div>
</body>
</html>